{% extends 'weblog/index.html' %}{% load crispy_forms_tags %}

{% block title %} Contact Us {% endblock title %}

{% block content %}

    <!--Contact form-->
    <div class="card border-warning mb-3">
        <div class="card-header">Contact Us</div>
        <div class="card-body">
            <h4 class="card-title">Contact us directly if you have any questions</h4>
            <p class="card-text">Please write your name, email address and a message below if you have any questions.
                One of our staff members will be happy to contact you directly and answer your questions as soon as possible.
            </p>
            <form method="post">{% csrf_token %}
                {{form | crispy}}
                <input type="submit" class="btn btn-primary mt-3" value="Done"/>
            </form>
        </div>
    </div>

{% endblock content %}
