{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}Homepage - HW16{% endblock title %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'weblog/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'weblog/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                {% if user.is_authenticated %}
                    <a class="navbar-brand" href="{% url 'weblog:dashboard' %}">Welcome, {{user.username}}</a>
                    <a class="navbar-brand" href="{% url 'weblog:logout' %}">Logout</a>
                {% else %}
                    <a class="navbar-brand" href="{% url 'weblog:login' %}">Login</a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'weblog:post_list' %}">Post List</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'weblog:category_list' %}">Category List</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'weblog:tag_list' %}">Tag List</a></li>
                    </ul>
                </div>
            </div>
        </nav>
       
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-5">

                    {% if messages %}

                        {% for message in messages %}
                            <div class="alert alert-{{ message.extra_tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}

                    {% endif %}

                    {% block content %}

                        <div class="card mb-4">
                            <div class="card-body">
                                <h2 class="card-title">Featured Post Title</h2>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                                <a class="btn btn-primary" href="#!">Read more →</a>
                            </div>
                        </div>
                        
                    {% endblock content %}
                </div>
            </div>
        </div>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'weblog/js/scripts.js' %}"></script>
    </body>
</html>
