{% extends 'weblog/index.html' %}
{% load static %}
{% block title %} Post Detail {% endblock title %}

{% block content %}

    <div class="card mb-4">
        <div class="card-body">
            <h1 class="card-title">Owner: {{post.owner}}</h1>
            <h2 class="card-title">Title: {{post.title}}</h2><br>
            <p class="card-text">Content: {{post.content}}</p>
            <p class="card-text">Created On: {{post.created}}</p>
            <p class="card-text">Slug: {{post.slug}}</p>
            <p class="card-text">Comments: </p>
            {% for comment in post.comment_set.all %}
                {{comment.owner}} <br>
                {{comment.text}} <br>
                <hr>
            {% endfor %}
        </div>
    </div>

    {% if user.is_authenticated %}

        <form action="{% url 'weblog:create_comment' %}" method="post">{% csrf_token %}
            <input type="hidden" name="post_slug" value="{{ post.slug }}" />
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Comment"/>
        </form>

    {% endif %}

{% endblock content %}