{% extends 'weblog/index.html' %}{% load static %}

{% block title %} Search Page {% endblock title %}

{% block content %}

    {% if searched %}

        <h1>Search result for "{{ searched }}"</h1>
        <hr/>

        <div class="row row-cols-1 row-cols-md-2 g-4">

            {% for post in posts %}

                <div class="col">
                    <div class="card">
                        <img src="{% if post.image %} {{ post.image.url }} {% endif %}" class="card-img-top" alt="post image">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'weblog:post_detail' post.slug %}">{{post.title}}<a/></h5>
                            <p class="card-text mb-0"><small class="text-muted">Created: {{post.created}}</small></p>
                            <p class="card-text">{{post.content}}</p>
                            {% if post.owner == user %}
                                <a class="btn btn-primary" style="margin-top: 10px;" href="{% url 'weblog:post_edit' post.slug %}">Edit</a>
                                <a class="btn btn-danger" style="margin-top: 10px;" href="{% url 'weblog:post_delete' post.slug %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}
            
        </div>


    {% else %}

        <h1>Search Something :D</h1>

    {% endif %}


{% endblock content %}