{% extends 'weblog/index.html' %}{% load static %}

{% block title %} Category List {% endblock title %}

{% block content %}

    <div class="card border-dark mb-3">
        <div class="card-header bg-transparent border-dark">Categories</div>
        <div class="card-body">
            {% for cat in object_list %}

                <h3 class="card-title"><a href="{% url 'weblog:category_detail' cat.id %}">{{cat.name}}<a/></h3>
                <a href="{% url 'weblog:category_edit' id=cat.id %} " class="btn btn-primary" role="button">Edit</a>
                <a href="{% url 'weblog:category_delete' id=cat.id %} " class="btn btn-danger" role="button">Delete</a>
                <hr/>
            {% endfor %}
        </div>
        <div class="card-footer bg-transparent border-dark">
            <a href="{% url 'weblog:category_create' %}" class="btn btn-info" role="button">Create Category</a>
        </div>
    </div>

{% endblock content %}