{% extends 'weblog/index.html' %}
{% load static %}
{% block title %} Category List {% endblock title %}

{% block content %}

    <a href="{% url 'weblog:category_create' %}" class="btn btn-info mb-5" role="button">Create Category</a>

    {% for cat in object_list %}

        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title"><a href="{% url 'weblog:category_detail' cat.id %}">{{cat.name}}<a/></h2>
                <br>
                <a href="{% url 'weblog:category_edit' id=cat.id %} " class="btn btn-primary" role="button">Edit</a>
                <a href="{% url 'weblog:category_delete' id=cat.id %} " class="btn btn-danger" role="button">Delete</a>
            </div>
        </div>

    {% endfor %}

{% endblock content %}