{% extends 'weblog/index.html' %}{% load static %}{% load crispy_forms_tags %}

{% block title %} Tag Edit {% endblock title %}

{% block content %}

    <div class="card border-info mb-4">
        <div class="card-header">Edit Tag</div>
        <div class="card-body">
            <form action="" method="post">{% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-primary mt-3" value="Done"/>
            </form>
        </div>
    </div>

{% endblock content %}