{% extends 'weblog/index.html' %}{% load static %}

{% block title %} Dashboard {% endblock title %}

{% block content %}

    <div class="card border-primary mb-3">
        <div class="card-header">Profile</div>
        <div class="card-body text-primary">
            <h5 class="card-title">First Name: {{user.first_name}}</h5>
            <h5 class="card-title">Last Name: {{user.last_name}}</h5>
            <h5 class="card-title">Username: {{user}}</h5>
            <h5 class="card-title">Email: {{user.email}}</h5>
            <a class="btn btn-warning mt-1" href="{% url 'weblog:new_password' %}">Reset Password</a>
        </div>
    </div>

    {% if posts %}
    
        {% for post in posts %}

        <div class="card border-secondary mb-3">
            <div class="card-body">
                <h2 class="card-title"><a href="{% url 'weblog:post_detail' post.slug %}">{{post.title}}<a/></h2>
                <p class="card-text">{{post.content}}</p>
                <p class="card-text mb-0"><small class="text-muted">Created: {{post.created}}</small></p>
                {% if post.owner == user %}
                    <a class="btn btn-primary mt-3" href="{% url 'weblog:post_edit' post.slug %}">Edit</a>
                    <a class="btn btn-danger mt-3" href="{% url 'weblog:post_delete' post.slug %}">Delete</a>
                {% endif %}
            </div>
        </div>

    {% endfor %}


    {% else %}

    <div class="alert alert-primary" role="alert">
        <p class="d-inline" > You don't have any posts yet. </p>
        <a href="{% url 'weblog:post_create' %}" class="btn btn-info position-absolute top-50 end-0 translate-middle-y" role="button" style="margin-right: 8px;">Create Post</a>
    </div>
        
    
    {% endif %}

    

{% endblock content %}