{% extends 'login/index.html' %}

{% block title %} Account Login {% endblock title %}


{% block content %}

    <form class="login100-form" method="post">{% csrf_token %}
        
        <span class="login100-form-title p-b-33">
            Account Login
        </span>

        <div class="wrap-input100">
            {{ form.username }}
            <span class="focus-input100-1"></span> 
            <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100">
            {{ form.password }}
            <span class="focus-input100-1"></span>
            <span class="focus-input100-2"></span>
        </div>

        <div class="container-login100-form-btn m-t-20">
            <input class="login100-form-btn" type='submit' value='Sign in'></input>
        </div>

        <div class="text-center p-t-45 p-b-4">
            <span class="txt1">
                Forgot
            </span>

            <a href="{% url 'weblog:password_reset' %}" class="txt2 hov1">
                Password?
            </a>
        </div>

        <div class="text-center">
            <span class="txt1">
                Create an account?
            </span>

            <a href="{% url 'weblog:register' %}" class="txt2 hov1">
                Register
            </a>
        </div>
        <div class="text-center mt-1">
            <a href="{% url 'weblog:home' %}" class="txt2 hov1">
                Back to Homepage
            </a>
        </div>
    </form>

{% endblock content %}