{% extends 'login/index.html' %}{% load crispy_forms_tags %}

{% block title %} Change Password {% endblock title %}

{% block wrap %}wrap-login100-wide{% endblock wrap %}

{% block content %}

    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">Change Password</h2>
        <hr>
        <form action="{% url 'weblog:new_password' %}" method="POST">{% csrf_token %}
            {{ form | crispy }}                   
            <button class="btn btn-primary" type="submit">Change Password</button>
        </form>
        <div class="text-center mt-5">
            <a href="{% url 'weblog:dashboard' %}" class="txt2 hov1">
                Back to Dashboard
            </a>
        </div>
    </div> 

{% endblock content %}
