{% extends 'weblog/index.html' %}{% load static %}

{% block title %} Post Delete {% endblock title %}

{% block content %}

    <div class="card text-white bg-danger mb-3">
        <div class="card-header">Delete Post</div>
        <div class="card-body">
            <form action="" method="post">{% csrf_token %}
                <h3 class="card-text"><b>Are you sure you want to delete "{{ post }}"?</b></h3>
                <input type="submit" class="btn btn-primary mt-3" value="Yes"/>
                <a href="{% url 'weblog:post_list' %}" class="btn btn-dark mt-3" role="button">Back</a>
            </form>
        </div>
    </div>


{% endblock content %}