{% extends 'weblog/index.html' %}{% load static %}{% load crispy_forms_tags %}

{% block title %} Post Detail {% endblock title %}

{% block content %}

    <div class="card border-info mb-3">
        <div class="card-header">Post Detail</div>
        <div class="card-body">
            <h1 class="card-title mb-0">Title: {{post.title}}</h1>
            <h2 class="card-title">Author: {{post.owner}}</h2>
            <p class="card-text mb-0 mt-3"><small class="text-muted">Created: {{post.created}}</small></p>
            <p class="card-text mb-0"><small class="text-muted">Updated: {{post.updated_on}}</small></p>
            {% if user.is_authenticated %}
                <form action="{% url 'weblog:post_stuff' post.slug %}" method="post">{% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn btn-success btn-sm mt-3" type="submit" name="post_like" value="{{post.slug}}">{{total_likes}} Like</button>
                    <button class="btn btn-danger btn-sm mt-3" type="submit" name="post_dislike" value="{{post.slug}}">{{total_dislikes}} Dislike</button>
                <form/>
            {% else %}
                <button class="btn btn-success btn-sm mt-3" >{{total_likes}} Like</button>
                <button class="btn btn-danger btn-sm mt-3" >{{total_dislikes}} Dislike</button>
            {% endif %}
            <hr/>
            <h3 class="card-title">Content:</h3>
            <p class="card-text">{{post.content}}</p>
            <hr/>
            <h3 class="card-title">Tags:</h3>
            <ul>
                {% for tag in post.tag.all %}
                    <li>{{tag}}</li>
                {% endfor %}
            </ul>
            <hr/>
            <p class="card-text mb-0 mt-3"><b>Status:</b> {{post.status}}</p>
            <p class="card-text mb-0"><b>Slug:</b> {{post.slug}}</p>
        </div>
    </div>

    {% if user.is_authenticated %}

        <div class="card border-dark mb-3">
            <div class="card-header">Comment on this post</div>
            <div class="card-body text-dark">
                <form action="" method="post">{% csrf_token %}
                    {{form.text | as_crispy_field}}
                    <input type="submit" class="btn btn-primary mt-3" name='create_comment' value="Comment"/>
                </form>
            </div>
        </div>

    {% else %}

        <div class="alert alert-info" role="alert">
            <p class="d-inline" > You need to login in order to create comment on this post. </p>
            <a href="{% url 'weblog:login' %}" class="btn btn-info position-absolute top-50 end-0 translate-middle-y" role="button" style="margin-right: 8px;">Login</a>
        </div>

    {% endif %}

    <div class="card text-dark bg-info mb-3">
        <div class="card-header">Comments</div>
        <div class="card-body">
            {% for comment in post.comment_set.all %}
                <h5 class="card-title mb-0">{{comment.owner}}: </h5>
                <p class="card-text">{{comment.text}}</p>
                {% if user.is_authenticated %}
                    <form action="" method="post">{% csrf_token %}
                        <button class="btn btn-success btn-sm" type="submit" name="comment_like" value="{{comment.id}}">{{ comment.total_likes }} Like</button>
                        <button class="btn btn-danger btn-sm" type="submit" name="comment_dislike" value="{{comment.id}}">{{ comment.total_dislikes }} Dislike</button>
                    <form/>
                {% else %}
                    <button class="btn btn-success btn-sm">{{ comment.total_likes }} Like</button>
                    <button class="btn btn-danger btn-sm">{{ comment.total_dislikes }} Dislike</button>
                {% endif %}
                <hr>
            {% endfor %}
        </div>
    </div>

{% endblock content %}