{% extends 'weblog/index.html' %}{% load static %}{% load crispy_forms_tags %}

{% block title %} Post Create {% endblock title %}

{% block content %}

    <div class="card border-success mb-4">
        <div class="card-header">Create Post</div>
        <div class="card-body">
            <form enctype="multipart/form-data" action="{% url 'weblog:post_create' %}" method="post">{% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-primary mt-3" value="Create"/>
            </form>
        </div>
    </div>

{% endblock content %}