{% extends 'weblog/index.html' %}{% load static %}
{% block title %} Post Delete {% endblock title %}

{% block content %}

    <div class="card text-white bg-danger mb-3">
        <div class="card-header">Post Delete</div>
        <div class="card-body">
            <form action="" method="post">{% csrf_token %}
                <p class="card-text">Are you sure you want to delete "{{ post }}"?</p>
                <input type="submit" class="btn btn-primary" value="Yes"/>
                <a href="{% url 'weblog:post_list' %}" class="btn btn-dark" role="button">Back</a>
            </form>
        </div>
    </div>


{% endblock content %}