{% extends 'weblog/index.html' %}
{% load static %}
{% block title %} Post Detail {% endblock title %}

{% block content %}

    <div class="card mb-4">
        <div class="card-body">
            <h1 class="card-title">Owner: {{post.owner}}</h1>
            <h2 class="card-title">Title: {{post.title}}</h2><br>
            <p class="card-text">Content: {{post.content}}</p>
            <p class="card-text">Created On: {{post.created}}</p>
            <p class="card-text">Slug: {{post.slug}}</p>
            {% if user.is_authenticated %}
            <form action="{% url 'weblog:post_stuff' post.slug %}" method="post">{% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="btn btn-success btn-sm" type="submit" name="post_like" value="{{post.slug}}">Like - {{total_likes}}</button>
                <button class="btn btn-danger btn-sm" type="submit" name="post_dislike" value="{{post.slug}}">Dislike - {{total_dislikes}}</button>
            <form/>

            {% else %}
                <button class="btn btn-success btn-sm" >Like - {{total_likes}}</button>
                <button class="btn btn-danger btn-sm" >Dislike - {{total_dislikes}}</button>
            {% endif %}
            <hr/>
            <p class="card-text">Comments: </p>
            {% for comment in post.comment_set.all %}
                {{comment.owner}} <br>
                {{comment.text}} <br>
                {% if user.is_authenticated %}
                <form action="" method="post">{% csrf_token %}
                    <button class="btn btn-success btn-sm" type="submit" name="comment_like" value="{{comment.id}}">Like - {{ comment.total_likes }}</button>
                    <button class="btn btn-danger btn-sm" type="submit" name="comment_dislike" value="{{comment.id}}">Dislike - {{ comment.total_dislikes }}</button>
                <form/>

                {% else %}
                    <button class="btn btn-success btn-sm">Like - {{ comment.total_likes }}</button>
                    <button class="btn btn-danger btn-sm">Dislike - {{ comment.total_dislikes }}</button>
                {% endif %}
                <hr>
            {% endfor %}
        </div>
    </div>

    {% if user.is_authenticated %}

        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" name='create_comment' value="Comment"/>
        </form>

    {% endif %}

{% endblock content %}